
*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    background-color: #f0f4f8;
}
.container{
    width:90%;
    margin: 0;
    text-align: center;
    margin-left: 4%;
    margin-top:10%;
}
/*css for counter id*/
#bgcolor{
    height: 100px;
    font-size:80px;
    color:black;
}
header{
    height: 100px;
    font-size:40px;
}
h1{
    float: center;
    display: grid;
}
/*buttons styles*/
.but{
    height: 50px;
    width: 20%;
    list-style: none;
    position: relative;
    float:center;
    border: 1px solid;
    border-radius: 5px;
    padding-left:2%;
    padding-right:2%;
    margin: 2%;
}

@media  (max-width: 858px){
    #bgcolor{
        margin: 5%;
        height: 100px;
        font-size:60px;
        color:black;
    }
    h1{
        float: center;
        display: grid;
        font-size:50px;
    }
    .but{
        height: 30px;
        width: 80%;
        list-style: none;
        margin-left: 15%;
        position: relative;
        display: grid;
        float:center;
    }
}
